<button type="button" class="btn btn-info btn-sm float-right" (click)="isHidden = !isHidden">
  <i [ngClass]="{'fas': true, 'fa-arrow-down': isHidden, 'fa-arrow-up': !isHidden}"></i>
  <span *ngIf="isHidden"> afficher</span>
  <span *ngIf="!isHidden"> cacher</span>
</button>

<h4 class="page-header text-info pt-2">Recherche de lignes budgétaires</h4>

<form (submit)="searchBudgetLines()" *ngIf="!isHidden">
  <div class="row">
    <div class="col-6">
      <div class="form-row">
        <div class="col-sm-6 col-lg-12">
          <label class="text-info font-weight-bold">Filtrer sur les équipes</label>
          <input type="text" name="team" [(ngModel)]="filters.team" class="form-control" placeholder="Nom d'équipe" />
        </div>
        <div class="col-sm-6 col-lg-12 mt-lg-3">
          <label class="text-info font-weight-bold">Filter sur les budgets</label>
          <input type="text" name="budget" [(ngModel)]="filters.budget" class="form-control" placeholder="Nom du budget" />
          <div class="form-row mt-2">
            <div class="col">
              <input type="text" class="form-control" placeholder="Tutelle" />
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nature" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-row">
        <div class="col-12">
          <label class="text-info font-weight-bold">Filtrer sur les commandes</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Fournisseur" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Désignation / Produit" />
        </div>
      </div>
      <div class="form-row mt-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="N° Commande" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Origine (code)" />
        </div>
      </div>
      <div class="form-row mt-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="date min" bsDatepicker />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="date max" bsDatepicker />
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mt-4 align-middle text-center">
    <button type="submit" class="btn btn-info" [disabled]="loading">
      <i [ngClass]="{'fas': true, 'fa-search': !loading, 'fa-spinner': loading, 'fa-spin': loading}"></i> Chercher
    </button>
  </div>
</form>
