<div class="modal-header">
  <h4 class="modal-title pull-left">
    Quantité à ajouter au panier
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form (submit)="addToCart()">
    <div class="form-group">
      <label for="quantity" *ngIf="product"><b>{{ product.provider }}</b> {{ product.name }}</label>
      <input type="number" name="quantity" id="quantity" class="form-control" formControlName="quantity" placeholder="quantité">
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()">
        <i class="fa fa-arrow-left"></i> Annuler
      </button>
      <button type="submit" class="btn btn-success" [disabled]="!isValid() || loading">
        <span *ngIf="!loading"><i class="fas fa-cart-plus"></i> Ajouter au panier</span>
        <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i> ajout en cours...</span>
      </button>
    </div>

  </form>
</div>
