@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 14px;
}

.p-5 {padding: 5px !important;}
.p-10 {padding: 10px !important;}
.p-20 {padding: 20px !important;}
