@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';

html {
  font-size: 14px;
  height: 100vh;
}

body {
  height: 100vh;
}

.p-5 {padding: 5px !important;}
.p-10 {padding: 10px !important;}
.p-20 {padding: 20px !important;}
